<app-header></app-header>
<div class="container">
<figure class="col-xs-12">
  <img src="../assets/img-servi.jpg"  width="1510" height="550" />
</figure>

<div class="containerInfo">
<h2>
<p>
  
  En esta sección encontrarás todos los servicios disponibles tanto virtuales como presenciales. 
  Una parte importante de nuestra misión es recuperar y difundir el patrimonio bibliográfico y documental del país en cualquier soporte;
  por lo tanto, facilitamos el acceso y la difusión de nuestras colecciones a través de orientación y asesoría personalizada.

</p>
</h2>
</div>
</div>

