<div class="row">
    <div class="col-md-4 p-4" *ngFor="let book of books">
        <div class="card card-book" (click)="selectedCard(book._id)">
            <div class="card-header">
                <label><b>Libro:</b> {{book.name}}</label>
                <img [src]="'http://localhost:3000/' + book.add_photo" class="img-card-top w-100">
            </div>
            <div class="card-body">
                <label><b>Autor:</b> {{book.autor}}</label>
                <br>
                <label><b>Descripción:</b> {{book.description}}</label>
            </div>
        </div>
    </div>
</div>