<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" routerLink="/">
          <img src="../../../assets/logo.png" class="logo-navigation">  LeaseBook
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/books"><b>Publicaciones</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/books/new"><b>Publicar</b></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/books/about"><b>Acerca</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/books/login"><b>Log in</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/books/login"><b>Sing in</b></a>
                </li>
            </ul>
        </div>
    </div>
</nav>